* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    height: 60px;
}

main {
    height: calc(100vh - 150px);
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

main div {
    width: 33%;
    background-color: orange;
    height: 100%;
}

.dobro {
    flex-grow: 2;
}

header {
    background-color: blueviolet;
}

footer {
    background-color: brown;
}

header, main, footer {
    border: 1px solid #000;
}